@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  color: #ededed;
  background: black;
}

#navbar {
  position: sticky !important;
  width: 100%;
  right: 0;
  top: 0;
  background: rgb(248, 183, 3);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#navbar .navbar-brand {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  padding-left: 25px;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}


#navbarSupportedContent .nav-link {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.836);
  border-bottom: 1px solid transparent;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(2 * var(--i));

}

#navbarSupportedContent .nav-link:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

section {
  width: 100%;
  min-height: 100vh;
}

/******Home*****/

#home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), url(homebg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: white;
  padding: 70px 10% 0;
}


#home h1 .span1 {
  color: orange;
  font-size: 40px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;

}

#home h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

#home .text {
  color: orange;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(30, end);
}

#home p {
  margin-top: 30px;
  font-size: 15px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

#home .home-content {
  width: 1000px;
  height: fit-content;
}

#home .social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid orange;
  border-radius: 50%;
  font-size: 20px;
  color: orange;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));

}

#home .social a:hover {
  background: orange;
  color: black;
  box-shadow: 0 0 20px orange;

}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: orange;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px orange,
    0 0 25px orange;
}

#home .btn-box:hover {
  box-shadow: 0 0 5px orange,
    0 0 25px orange, 0 0 50px orange,
    0 0 100px orange, 0 0 200px orange;
}




/*******About****/


.about {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 10px;

}

.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: orange;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.about .btn-box .box2{
  display: inline-block;
  padding: 12px 28px;
  background: orange;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  box-shadow: 0 0 5px orange,
    0 0 25px orange;
}

.about .btn-box .box2:hover {
  box-shadow: 0 0 5px orange,
    0 0 25px orange, 0 0 50px orange,
    0 0 100px orange, 0 0 200px orange;
}





/********Skills*******/

#skills{
  display: flex;
  justify-content: center;
}

.sub-title{
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  margin-top: 80px;
}

.span1{
  color: orange;
}



















@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translatey(100px);
    opacity: 0;
  }

  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translatey(-100px);
    opacity: 0;
  }

  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}